<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<h1>
<!-- app/assets/images/cat.png -->
<img class="welcome_index_img_title" src="<%= image_url('jetbrains-variant-2.png') %>" />
This part is written on ERB file
<!-- app/javascript/packs/images/logo.png -->
<img class="welcome_index_img_title" src="<%= asset_pack_path 'packs/images/illustrain10-doubutu20.png' %>" />
</h1>
<p class="welcome_index_p_title" class="welcome_index">Find me in app/views/welcome/index.html.erb</p>

<!-- Rendered by vue JS -->
<div id='app'></div>
<!-- // Rendered by vue JS -->
<%#= javascript_pack_tag 'application' %>
<%#= stylesheet_pack_tag 'application' %>
<%= javascript_pack_tag 'welcome/index' %>
<%= stylesheet_pack_tag 'welcome/index' %>